{% extends 'listings/base.html' %}

{% block content %}


<div class="px-3 py-2 bg-gray-100 rounded-sm">
    
    <h3 class='text-3xl text-gray-900'>{{ listing.title }}</h3>
    <p class='text-gray-900'> mk{{ listing.price }}</p>
    <p class='text-gray-600' text-sm>  {{ listing.address }}</p>
    <div class='mt-5 py-5 border-t border-gray-200'>
        <a class='text-blue-500' href="{% url 'listings:listing_edit' listing.pk %}">Edit </a>
        <a class='text-blue-500 ml-3' href="{% url 'listings:listing_delete' listing.pk %}">Delete </a>
    </div>
</div>

  
{% endblock  %}

